@model IEnumerable<OpticalFibersRetailShop.Models.DTO.UserTypeDTO>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int sno = 1;
}
<style>
    .required {
        color: red;
    }

    .modal-dialog {
        max-width: 90%;
        width: 90%;
    }

    th {
        font-weight: bold;
    }
</style>
<div class="main-panel">
    <div class="content-wrapper">
        <div class="container-full">

            <div class="col-md-12 mt-3">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h4 class="card-title mb-0">User Type</h4>
                        <input type="text" id="searchInput" class="form-control" placeholder="Search Classes..." style="width: 300px;" />

                        <button type="button" onclick="openAddModal()" class="btn btn-primary" data-toggle="modal" data-target="#addModal">
                            <i class="fa fa-plus"></i> Add UserType
                        </button>
                    </div>

                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="list" role="tabpanel">
                                <!-- Table -->
                                <div class="table-responsive">
                                    <table id="userTypeTable" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>User Type</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="classTableBody">
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@sno</td>
                                                    <td>@item.RoleName</td>
                                                    <td>
                                                        <a href="#" onclick="EditUserType('@item.RoleId', '@item.RoleName')" class="text-primary">
                                                            <button type="button" class="btn btn-circle btn-primary btn-xs">
                                                                <i class="fa fa-edit"></i>
                                                            </button>
                                                        </a>
                                                        <a href="#" onclick="DeleteUserType(@item.RoleId)">
                                                            <button type="button" class="btn btn-circle btn-danger btn-xs">
                                                                <i class="fa fa-trash"></i>
                                                            </button>
                                                        </a>
                                                       
                                                    </td>
                                                </tr>
                                                sno++;
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <!-- Pagination Controls -->
                                <ul id="pagination" class="pagination justify-content-end"></ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl custom-modal" role="document">
        <!-- Added modal-xl and custom class -->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Add UserType</h5>
            </div>
            <div class="modal-body">
                <form id="usertypeForm" action="@Url.Action("AddUserType", "UserManagement")" method="post" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <div class="col-lg-12">
                            <h5 class="mb-3" style="background-color: whitesmoke; color: black; padding: 10px; text-transform: uppercase;">User Type Details</h5>
                        </div>
                        <div class="col-lg-6">
                            <label for="Name">Role Name <span class="required">*</span></label>
                            <input type="text" class="form-control" id="RoleName" name="RoleName" required placeholder="Enter User Type Name" />
                        </div>
                    </div>

                    <!-- In both addModal and editModal footer sections -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-danger" onclick="cancelAndRedirect()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editUserTypeModal" tabindex="-1" aria-labelledby="editUserTypeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editUserTypeModalLabel">Edit User Type</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editUserTypeForm" action="@Url.Action("UpdateUserType", "UserManagement")" method="post" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="RoleId" id="editRoleId" value="" />
                    <div class="row">
                        <div class="col-lg-12">
                            <h5 class="mb-3" style="background-color: whitesmoke; color: black; padding: 10px; text-transform: uppercase;">User Type Details</h5>
                        </div>
                        <div class="col-lg-6">
                            <label for="editName">Role Name <span class="required">*</span></label>
                            <input type="text" class="form-control" id="editRoleName" name="RoleName" required placeholder="Enter User Type Name" />
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary">Update</button>
                            <button type="reset" class="btn btn-success">Reset</button>
                            <button type="button" class="btn btn-danger" onclick="cancelAndRedirects()">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
     $(document).ready(function () {

        window.openAddModal = function () {
            $('#addModal').modal('show');
        };

    });
                $('#usertypeForm').submit(function (e) {
        e.preventDefault();
        var formData = new FormData(this);

        $.ajax({
            url: '/UserManagement/AddUserType',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                if (response.success) {
                    Swal.fire("Success!", "User Type added successfully.", "success")
                        .then(() => {
                            window.location.reload();
                        });
                } else {
                    Swal.fire("Error!", response.message || "User Type already exists.", "error");
                }
            },
            error: function () {
                Swal.fire("Error!", "There was an error processing your request.", "error");
            }
        });
    });


        // Edit User Type Form Submission
        $('#editUserTypeForm').submit(function (e) {
            e.preventDefault();
            var formData = new FormData(this);
            $.ajax({
                url: '/UserManagement/UpdateUserType',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.success) {
                        Swal.fire("Updated!", "User Type updated successfully.", "success").then(() => {
                            $('#editUserTypeModal').modal('hide');
                            window.location.reload();
                        });
                    } else {
                        Swal.fire("Error!", response.message || "Failed to update User Type.", "error");
                    }
                },
                error: function () {
                    Swal.fire("Error!", "An error occurred while updating the User Type.", "error");
                }
            });
        });


    // Edit User Type Function
    function EditUserType(RoleId, RoleName) {
        console.log("Editing User Type:", RoleId, RoleName);

        // Set the hidden ID field
        $("#editRoleId").val(RoleId);

        // Set other values
        $("#editName").val(RoleName);

        // Show the edit modal
        $('#editUserTypeModal').modal('show');
    }

    // Delete User Type Function
    function DeleteUserType(RoleId) {
        Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#d33",
            cancelButtonColor: "#3085d6",
            confirmButtonText: "Yes, delete it!"
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '/UserManagement/DeleteUserType/' + RoleId,
                    type: 'POST',
                    success: function (response) {
                        if (response.success) {
                            Swal.fire("Deleted!", "User Type has been deleted.", "success").then(() => {
                                window.location.reload();
                            });
                        } else {
                            Swal.fire("Error!", response.message || "There was an issue deleting the User Type.", "error");
                        }
                    },
                    error: function () {
                        Swal.fire("Error!", "There was an error processing your request.", "error");
                    }
                });
            }
        });
    }

        //search field in table
    $(document).ready(function () {
        $('#searchInput').on('keyup', function () {
            var value = $(this).val().toLowerCase();
            $("#classTableBody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
        });
    });

      $(document).ready(function () {
        setupPagination('classTableBody', 'pagination');
    });

        //Cancel Button
        function cancelAndRedirect() {
        $('#addModal').modal('hide'); // Hides the modal

        // Wait a bit to allow modal animation to finish before redirecting
        setTimeout(function () {
            window.location.href = '@Url.Action("GetUserTypes", "UserManagement")';
        }, 300); // 300ms matches Bootstrap's fade animation
       }
       function cancelAndRedirects() {
        $('#editUserTypeModal').modal('hide'); // Hides the modal

        // Wait a bit to allow modal animation to finish before redirecting
        setTimeout(function () {
            window.location.href = '@Url.Action("GetUserTypes", "UserManagement")';
        }, 300); // 300ms matches Bootstrap's fade animation
    }

</script>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
